@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0;
  padding: 0;
}

.navbar {
    border-radius: 0px;
}

.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 22px;
}

.navbar a {
    cursor: pointer;
}

.section-button-easy {
    border: none;
    border-bottom: 2px solid rgb(0, 191, 255); 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.section-button-medium {
    border: none;
    border-bottom: 2px solid rgb(255, 215, 0); 
}
.section-button-hard {
    border: none;
    border-bottom: 2px solid rgb(138, 43, 226); 
    border-radius: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.section-button-easy:focus, .section-button-easy:hover 
{ 
    outline: none;
    background-color: rgb(0, 191, 255, 0.2);
    border-bottom: 2px solid rgb(0, 191, 255);
}
.section-button-medium:focus, .section-button-medium:hover 
{ 
    outline: none;
    background-color: rgb(255, 215, 0, 0.2);
    border-bottom: 2px solid rgb(255, 215, 0);
}
.section-button-hard:focus, .section-button-hard:hover 
{ 
    outline: none;
    background-color: rgb(138, 43, 226, 0.2);
    border-bottom: 2px solid rgb(138, 43, 226);
}

.slc:hover, .slc:focus {
    background-color: deepskyblue;
    color: white;
}

.glyphicon-ok{
    float:right;
    color: green;
}

.glyphicon-remove{
    float:right;
    color: crimson;
}
.question-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.question-container {
    padding-left: 2%;
}

.question-title-easy {
    border-bottom: 2px solid deepskyblue;
}

.question-title-medium {
    border-bottom: 2px solid gold;
}
.question-title-hard {
    border-bottom: 2px solid rgb(138, 43, 226);
}

.case-container {
    border: none;
    margin-bottom: 0px;
    border-bottom: 0px;
}
.case-container-right {
    border-bottom: 1px solid green; 
}
.case-container-wrong {
    border-bottom: 1px solid crimson; 
}

input[type="file"] {
    display: none;
}

code {
    font-family: monospace, monospace;
}

pre {
    background-color:white;
    border: 1px solid black;
}

.error-container {
    width: 100%;
    margin: auto;
    background-color: lightcoral;
}

.error-content {
    position: relative;
    text-align: center;
    color: white;
    margin-top: -20px;
}

.loader-container {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 100;
}

/*
    Spinner load
 */
.loader {
    visibility: visible;
    z-index: 100;
    position: relative;
    margin: auto;
    border: 7px solid #f3f3f3; /* Cinza claro */
    border-top: 7px solid black; /* Azul */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.instructions-title {
    text-align: center
}
.instructions-title .brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.instructions-steps{
    position: relative;
    margin: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
    position:fixed;
    background: white;
    z-index: 901;
    width: 80%;
    /* height: auto; */
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 3%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.display-block {
  display: block;
}

